/*CONVERTED TO REM*/
:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
}

.main-container {
    position: absolute;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    margin: 0;
    background: #f0f4fb;
    overflow: hidden;
}

/* Reset margin pada body */
body {
    margin: 0;
    overflow: hidden;
  }
  
  /*STYLE MAIN PAGE*/
  .main-container {
    background: #f6f9ff;
  }
  
  /*STYLE HEADER*/
  .header-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0.5625rem 1.25rem; /* 9px 20px diubah menjadi rem */
    background: #ffffff;
    z-index: 200;
    box-shadow: 0 0.125rem 1.25rem 0 rgba(1, 41, 112, 0.1); /* 2px 20px diubah menjadi rem */
}
  
.content {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 0.3125rem; /* 5px diubah menjadi rem */
    position: relative;
    width: 17.5rem; /* 280px diubah menjadi rem */
    padding: 0.5rem 0; /* 8px diubah menjadi rem */
    left: -0.9375rem; /* -15px diubah menjadi rem */
}
  
.link {
    flex-shrink: 0;
    position: relative;
    width: 17.5rem;
    height: 1.625rem;
    z-index: 148;
}

  
.tre-jamin {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 2.188rem;
    top: -0.188rem;
    left: 6.25rem;
    color: #012970;
    font-family: Nunito, var(--default-font-family);
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 1.625rem;
    text-align: left;
    white-space: nowrap;
    z-index: 149;
}

.main-content {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 0.625rem;
    width: 17.5rem;
    padding: 0.5rem 0;
    z-index: 19;
}

.link {
    flex-shrink: 0;
    position: relative;
    width: 17.5rem;
    height: 1.625rem;
    z-index: 20;
}

.rectangle {
    width: 100%;
    height: 100%;
    background: #edf1f7;
}

.flex-column-aae {
    position: absolute;
    width: calc(100% - 2 * 8.625rem);
    height: auto;
    top: 6.688rem;
    left: 8.625rem;
    z-index: 3;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    position: absolute;
    width: 31.25rem;
    height: auto;
    top: 3.75rem;
    left: 76%;
    transform: translateX(-50%);
    padding: 3rem 3.063rem;
    background: #ffffff;
    border: 0.063rem solid rgba(0, 0, 0, 0.13);
    z-index: 3;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    font-family: Nunito, var(--default-font-family);
    font-size: 1rem;
}


.group,
.group-2 {
    width: 100%;
}

.rectangle-1,
.rectangle-3 {
    width: 100%;
    padding: 0.625rem;
    margin-top: 0.5rem;
    border: 0.063rem solid #ccc;
    border-radius: 0.25rem;
}

.group-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.625rem;
    background-color: #012970;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-top: 1.25rem;
    font-family: Nunito, var(--default-font-family);
    font-size: 1.625rem;
}

.group-5:hover {
    background-color: #0056b3;
}

.sign-in {
    font-size: 1rem;
    font-weight: 200;
}

.error-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.error {
    color: red;
    font-size: 0.875rem;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0;
}


.jamkrindo-cabang-bandung {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 4.8125rem;
    top: 16.25rem;
    right: 54%;
    color: #012970;
    font-family: Roboto, var(--default-font-family);
    font-size: 3.125rem;
    font-weight: 400;
    line-height: 4.8rem;
    text-align: left;
    white-space: nowrap;
    z-index: 2;
}

.letter-tracking-management {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 35.375rem;
    height: 125rem;
    top: 13.75rem;
    left: 6.25rem;
    color: #212529;
    font-family: Roboto, var(--default-font-family);
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.8rem;
    text-align: left;
    text-overflow: initial;
    z-index: 1;
    overflow: hidden;
}

input[type="text"] {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
    margin-top: 0.625rem;
}

input[type="password"] {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
    margin-top: 0.625rem;
}

.small-image {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: 0.625rem;
    top: 0.125rem;
}

.small-image2 {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: 3.1875rem;
    top: 0;
}

